/* FOOTER */
footer {
  background-color: $bcg-footer;
  color: $color-footer;

  & .container {
    @include flex(flex, space-between, baseline, wrap);
    padding-top: 60px;
    padding-bottom: 60px;
  }

  & .button-submit {
    width: 200px;
    height: 50px;
    margin: 0px;
    padding: 0px;
    background-color: $color-accent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    &-icon {
      margin-left: 10px;
      vertical-align: middle;
    }
  }

  & form {
    display: flex;
  }

  & label {
    margin-right: 12px;
  }
}

.contacts {
  width: 231px;
  margin-right: 69px;

  & > .logo {
    display: block;
    width: 231px;
    margin-bottom: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: $color-secondary-light;
    text-align: left;
  }
}

.address {
  font-style: normal;

  &-list {
    display: block;
  }

  &-item {
    margin-bottom: 9px;
  }

  &-link {
    @include font(14px, 400, 1.71);
    color: $color-secondary-light;

    &:focus,
    &:hover,
    &:visited {
      color: $color-secondary-light;
    }
  }
}

.contact-link {
  @include font(14px, 400, 1.71);

  &:hover,
  &:focus,
  &:visited {
    color: $color-footer;
  }
}

.join {
  margin-right: 94px;

  &-socials-list {
    @include flex();
    max-width: 206px;
  }

  &-socials-item {
    width: calc((100% - 3 * 10px) / 4);
  }

  &-socials-item:not(:last-child) {
    margin-right: 10px;
  }

  &-socials-link {
    @include centeredFlex();
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &-socials-link:hover,
  &-socials-link:focus {
    background-color: $color-accent;
    border-radius: 50%;
    cursor: pointer;
  }

  &-socials-icon {
    fill: $color-secondary-light;
  }

  &-action {
    display: block;
    margin-bottom: 20px;
    @include font(14px, 700, 1.14);
    text-transform: uppercase;
    color: $color-secondary-light;
  }
}

.subscribe {
  width: 570px;

  &-action {
    display: block;
    margin-bottom: 20px;
    @include font(14px, 700, 1.14);
    text-transform: uppercase;
    color: $color-secondary-light;
  }

  &-input {
    width: 358px;
    height: 50px;
    padding-left: 16px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    @include font(16px, 400, 1.25);
    letter-spacing: $letter-spacing-main;
    color: $color-footer;
  }
}
