/* Модальное окно*/

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  @include centeredFlex();
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.is-hidden {
  @include isHidden();
}

/* форма модального окна */
.modal-form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
  background-color: $bcg-main;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  @media screen and (min-width: 768px) {
    width: 450px;
    height: 609px;
  }
  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }

  &-action {
    margin-top: 40px;
    margin-bottom: 30px;
    @include font(20px, 700, 1.5);
    letter-spacing: $letter-spacing-main;
    color: $color-secondary-dark;
    @media screen and (min-width: 1200px) {
      @include font(20px, 700, 1.15);
    }
  }
}

/* кнопка закрытия модального окна */
.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: $bcg-main;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  &:hover .close-icon,
  &:focus .close-icon {
    fill: $color-accent;
  }
}

.close-icon {
  vertical-align: middle;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Поля формы модального окна */
.modal-form-field {
  position: relative;
  margin-bottom: 28px;
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  cursor: pointer;

  &:focus {
    border-color: $color-accent;
  }

  &:focus + .form-icon {
    fill: $color-accent;
  }
}

.form-input,
.form-textarea {
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  fill: $color-secondary-dark;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label {
  position: absolute;
  bottom: 110%;
  display: block;
}

.form-label,
.form-textarea-label {
  @include font(12px, 400, 1.17);
  letter-spacing: $letter-spacing-modal;
  color: $color-main;
}

.modal-form-textarea {
  position: relative;
  margin-bottom: 20px;
}

.form-textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  cursor: pointer;
  @media screen and (min-width: 1200px) {
    width: 448px;
  }

  &:focus {
    border-color: $color-accent;
  }

  &::placeholder {
    @include font(12px, 400, 1.17);
    letter-spacing: $letter-spacing-modal;
    color: rgba(117, 117, 117, 0.5);
    transition-property: font-size, line-height;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:focus::placeholder {
    @include font(14px, 400, 1.14);
  }

  &-label {
    position: absolute;
    bottom: 103%;
    display: block;
  }
}

.form-option {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  &-text {
    @include font(12px, 400, 1.17);
    letter-spacing: $letter-spacing-main;
    color: $color-main;
    @media screen and (min-width: 1200px) {
      @include font(14px, 400, 1.71);
    }
  }

  &-link {
    display: inline-block;
    color: $color-accent;
  }

  /* Кастомный чекбокс */
  &::before {
    content: '';
    width: 16px;
    height: 15px;
    background-image: url('../images/modal_form/check.svg');
    background-repeat: no-repeat;
    background-size: content;
    background-origin: border-box;
    border: 2px solid $color-secondary-dark;
    border-radius: 2px;
    margin-right: 7px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    // @media screen and (min-width: 480px) {
    //   width: 16px;
    // }
  }

  .form-checkbox:checked + &::before {
    background-color: $color-accent;
    border: none;
  }
}

/* Кнопка отправить */
.modal-form-btn {
  min-width: 200px;
  min-height: 50px;
  margin: 0px auto 40px;
  background-color: $color-accent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  @include font(16px, 700, 1.87);
  text-align: center;
  letter-spacing: $letter-spacing-secondary;
  color: $color-secondary-light;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    background-color: #188ce8;
    cursor: pointer;
  }
}
