/* Projects */

.projects-list {
  display: block;
  @media screen and (min-width: 768px) {
    @include flex();
  }
}

.projects-item {
  display: flex;
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 2 * 30px) / 3);
  }

  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
    cursor: pointer;
  }

  &:not(:last-child) {
    @media screen and (min-width: 768px) {
      margin-bottom: 30px;
    }

    &:nth-child(-n + 6) {
      @media screen and (min-width: 1200px) {
        margin-bottom: 30px;
      }
    }
  }
}

.projects-img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.projects-title {
  margin-bottom: 4px;
  margin-left: 24px;
  padding-top: 20px;
  @include font(18px, 700, 18px);
  letter-spacing: $letter-spacing-secondary;
  color: $color-secondary-dark;
}

.projects-type {
  margin-bottom: 20px;
  margin-left: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: $color-main;
}

.projects-overlay {
  position: relative;
  overflow: hidden;
}

.projects-description {
  position: absolute;
  @include flex(flex, flex-start, center, wrap);
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  overflow: auto;
  opacity: 0;
  transform: translateY(0%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
  @include font(18px, 400, 1.56);
  letter-spacing: $letter-spacing-main;
  color: $color-secondary-light;

  .projects-item:hover &,
  .projects-link:focus & {
    opacity: 1;
    transform: translateY(-100%);
  }
}
