html {
  box-sizing: border-box;
}

button {
  outline: none;
  &:hover,
  &:focus {
    cursor: pointer;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: $bcg-main;
  font-family: $font-family-main;
  font-style: normal;
  color: $color-main;
  letter-spacing: $letter-spacing-main;
}

img {
  display: block;
}

ul {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

li {
  list-style: none;
}

a {
  @extend %link;
  color: $color-secondary-dark;

  &:visited {
    color: $color-secondary-dark;
  }

  &:hover,
  &:focus {
    color: $color-accent;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.address-link {
  @extend %link;
  color: $color-secondary-light;

  &:visited {
    color: $color-secondary-light;
  }
}

.contact-link {
  @extend %link;
  color: $color-footer;

  &:visited {
    color: $color-footer;
  }
}
