// @mixin link() {
//   display: block;
//   text-decoration: none;
// }

@mixin flex(
  $display: flex,
  $justify-content: space-between,
  $align-items: center
) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin centeredFlex() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin font($fs, $fw, $lh) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
}

@mixin isHidden() {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@mixin visuallyHidden() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
