$bcg-main: #ffffff;
$bcg-secondary: #f5f4fa;
$bcg-footer: #2f303a;

$color-main: #757575;
$color-accent: #2196f3;
$color-secondary-light: #ffffff;
$color-secondary-dark: #212121;
$color-auxiliary: #afb1b8;
$color-logo: #000000;
$color-footer: rgba(255, 255, 255, 0.6);

$font-family-main: 'Roboto', sans-serif;
$font-family-logo: 'Raleway', sans-serif;

$letter-spacing-main: 0.03em;
$letter-spacing-header: 0.02em;
$letter-spacing-modal: 0.01em;
$letter-spacing-secondary: 0.06em;
